@font-face {
    font-family: 'Roboto Medium';
    src: url('/fonts/Roboto-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 400 500;
}

@font-face {
    font-family: 'Roboto Medium Italic';
    src: url('/fonts/Roboto-MediumItalic.woff') format('woff');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('/fonts/Roboto-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 300 400;
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('/fonts/Roboto-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 600 700;
}

@font-face {
    font-family: 'Roboto Italic';
    src: url('/fonts/Roboto-Italic.woff') format('woff');
    font-style: italic;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
}

html {
  scroll-padding-top: 83px; /* height of sticky header */
}

header {
    width: 100%;
    height: 83px;
    margin: 0;
    padding: 0;
}
nav {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #007650;
    position: fixed;
}

.container {
    margin: 0 auto;
    max-width: 1219px;
    padding: 0 55px;
}

.logo {
    float: left;
    padding: 19px 0;
}

.logo img {
    display: block;
    width: 184px;
}

.menu {
    float: right;
    padding: 26px 0 0 0;
}

.menu-item {
    display: inline-block;
    list-style-type: none;
}

.menu-item:not(:last-child):after {
    content: '|';
    color: #ffffff;
    margin-left: 6px;
    margin-right: 2px;
}

.menu-item a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Roboto Medium", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 403px;
    background-color: #03151f;
    background-image: url(/img/bg/jumbotron.png);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: "Roboto Medium", sans-serif;
    font-size: 72px;
    color: #ffffff;
}

#problem {
    margin: 0;
    padding: 35px 0;
    min-height: 719px;
    background-color: #eee;
}

.subtitle {
    margin: 0;
    font-family: "Roboto Medium", sans-serif;
    font-size: 64px;
    color: #007765;
    text-align: center;
}

#problem p {
    margin-top: 20px;
    padding: 10px;
    font-family: "Roboto Regular", sans-serif;
    font-size: 34px;
    color: #000000;
}

.hero {
    margin: 0;
    padding: 0;
    height: 483px;
    background-color: #04204f;
    background-image: url(/img/bg/hero.png);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero .container {
    margin: 0 150px;
}

.hero p {
    text-align: center;
    color: #ffffff;
    font-family: 'Roboto Medium Italic', sans-serif;
    font-size: 48px;
}

#ppc {
    margin: 0;
    padding: 35px 0;
    min-height: 604px;
}

#ppc .wrapper {
    margin-top: 20px;
}

#ppc img {
    display: block;
    margin: 10px 20px 10px 0;
    width: 115px;
    float: left;
    text-wrap: wrap;
}

#ppc p {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 32px;
    color: #000000;
    margin: 30px 0 0 0;
}


.clearfix {
    clear: both;
}

#team {
    padding: 35px 0;
    background-color: #eeeeee;
    min-height: 845px;
}

#team .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.card {
    margin: 60px;
}

img.team-photo {
    width: 168px;
}

.team-name {
    font-family: 'Roboto Bold', sans-serif;
    font-size: 24px;
    color: #007765;
    text-align: center;
}
.team-role {
    font-family: 'Roboto Italic', sans-serif;
    font-size: 18px;
    color: #000000;
    text-align: center;
}